HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### ENV
#.gitignore only ignores newly added (untracked) files.
#If you have files that have already been added to the repository, all their changes will be tracked as usual, even if they are matched by .gitignore rules.
#To remove that folder from the repository (without deleting it from disk), do: git rm --cached -r .env
/backend/.env